{% extends '::base.html.twig' %}

{%- block title -%}Bugs-tracking | 404{%- endblock -%}
 {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/admin.css') }}">
        <link rel="stylesheet" href="{{ asset('css/font-awesome.css') }}" />
 {% endblock %} 
{% block body %}
<style type="text/css">
	
</style>
<section id="wrapperErrorMain" xmlns="http://www.w3.org/1999/html">
 <p class="logo"><a href="/"><img style="width: 20% !important;
   height: 19% !important;" src="{{ asset('images/Bug_Trackings.png')}}"></a></p>
        <div class="container">
            <h1 class="text-center">Erreur 404</h1>
            <h2 class="text-center">La page que vous avez demandée est introuvable .&nbsp;&nbsp;</h2>
            <p class="text-center"><a class="btn btn-primary"  href="/"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;&nbsp;Retourner à la page d'accueil</a></p>
        </div>
    </section>

{% endblock %} 