<!DOCTYPE html>
<html>
    <head>
        <meta charset="{{ _charset }}" />
        <title>An Error Occurred: {{ status_text }}</title>
    </head>
    <body>
        <h3>Oops! An Error Occurred</h3>
        <h2>The server returned a "{{ status_code }} {{ status_text }}".</h2>

        <div>
           Quelque chose est cassé. Faites-nous savoir ce que vous faisiez lorsque cette erreur s'est produite.
            Nous allons le réparer dès que possible. Désolé pour tout dérangement causé.
        </div>
    </body>
</html>
