{% if admin.isGranted('admin_app_productiondepartement_cardlocation_list', object)  %}
<a class="btn btn-sm btn-info" href="{{ path('admin_app_productiondepartement_cardlocation_list', {'id': object.id }) }}"><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp; Counting Device</a><br/>
{% endif %}

