{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}

		<div class="col-lg-12">
		   <div id="map" /></div>
		
		</div>
		<script>
                    $(document).ready(function(){
		    var map = new google.maps.Map(document.getElementById('map'), {
			                   center: {
		                        lat:  {{ object.latitude}},
		                        lng:  {{ object.longitude}}
			                    },
			                    zoom:  {{ object.positionzoom}},
		                        mapTypeId: google.maps.MapTypeId.HYBRID
			                 });
	   
		                    var PolygonCoords1 = [
		                          {{ object.cardlocationProductiondepartement.polygoninformation}}
		                      ];

		                    // Construct the polygon.
		                    var SetPolygonInfo1 = new google.maps.Polygon({
		                      paths: PolygonCoords1,
		                      strokeColor: '#ffa500',
		                      strokeOpacity: 0.9,
		                      strokeWeight: 3,
		                      fillColor: '#ffa500',
		                      fillOpacity: 0.4
		                    });
		                    SetPolygonInfo1.setMap(map);
	                         var marker = new google.maps.Marker({
							    position: {
			                        lat:  {{ object.latitude}},
			                        lng:  {{ object.longitude}}
			                    },
							    icon: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png',
							  });

							// To add the marker to the map, call setMap();
							marker.setMap(map);
							 $('.col-lg-7').find('th').remove();
						});
		</script>
       

{% endblock %}
