{% if admin.isGranted('admin_app_productiondepartement_cropblock_list', object) %}
<a class="btn btn-sm " style="background:#2A3F54; color:white; border-left:2px solid white;" href="{{ path('admin_app_productiondepartement_cropblock_list', {'id': object.id }) }}"><i class="fa fa-object-group" aria-hidden="true"></i>&nbsp; Crops Block</a>
{% endif %}
