{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}

		<div class="col-lg-12">
		   <div id="map" /></div>
		</div>
       
<script>
                       
                    $(document).ready(function(){
		                 var map = new google.maps.Map(document.getElementById('map'), {
		                    center: {
		                        lat:  {{ object.positionlat}},
		                        lng:  {{ object.positionlang}}
		                    },
		                    zoom:  {{ object.positionzoom}},
	                      mapTypeId: google.maps.MapTypeId.HYBRID
		                 });
	   
	                    var PolygonCoords = [
	                          {{ object.polygoninformation}}
	                      ];

	                    // Construct the polygon.
	                    var SetPolygonInfo = new google.maps.Polygon({
	                      paths: PolygonCoords,
	                      strokeColor: '#000000',
	                      strokeOpacity: 0.9,
	                      strokeWeight: 3,
	                      fillColor: '#ff0000',
	                      fillOpacity: 0.3
	                    });
	                    //map.setCenter(new google.maps.LatLng(latitude, longitude));
                        //map.setZoom(17);
	                   SetPolygonInfo.setMap(map);

				 			$('.col-lg-7').find('th').remove();
					});
</script>
{% endblock %}
