{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <img id="myImg" class="imgModal" style="width:40px !important ; height:40px !important; "   src="{{ asset(vich_uploader_asset(object, 'pathFile')) }}">

    <div id="myModal" class="modalMy">
        <span class="closeE">&times;</span>
        <img class="modal-contentMy"  id="img01">
        <div id="caption" class="caption"></div>
    </div>

{% endblock %}
