<!-- <div class="test" >
	<li class="first treeview">
		<a href="#"><i class="fa fa-delicious"></i><span>Fermes</span><span class="pull-right-container"><i class="fa pull-right fa-angle-left"></i></span></a>                
			   <ul class="active treeview-menu menu_level_1" style="display: none;">

			      <li class="first">            
			      <a href="http://127.0.0.1:8000/admin/app/productiondepartement/list"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Production Departement</a>        
			      </li>

			     <li class="last">          
			        <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Counting Device</a>   
				          <ul class="active treeview-menu menu_level_2" style="display: none; padding-left: 0px;">
						      <li class="first">            
						      <a href="http://127.0.0.1:8000/admin/app/productiondepartement/list"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Production</a>        
						      </li>
						      <li>          
						        <a href="http://127.0.0.1:8000/admin/app/cropblock/list"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Crop</a>        
						      </li>
						      <li class="last">          
						        <a href="http://127.0.0.1:8000/admin/app/cardlocation/list"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Counting</a>        
						      </li>
			  			  </ul>     
			     </li>

	  		 </ul>
	  </li>
</div>
 -->
           
<!-- <div class="toggle-details">
    aaa
</div>

<div class="w3-sidebar w3-bar-block w3-border-right" style="display:none" id="mySidebar">
  <button onclick="w3_close()" class="w3-bar-item w3-large">Close &times;</button>
  <a href="#" class="w3-bar-item w3-button">Link 1</a>
  <a href="#" class="w3-bar-item w3-button">Link 2</a>
  <a href="#" class="w3-bar-item w3-button">Link 3</a>
</div>

       <li class="dropdown">
 		 <button class="w3-button w3-teal w3-xlarge" onclick="w3_open()">☰</button>
	  </li>
 -->
