{% if admin.isGranted('admin_app_farms_productiondepartement_list',object)%}
<a class="btn btn-sm" style="background:#4d88ff; color:white;" href="{{ path('admin_app_farms_productiondepartement_list', {'id': object.id }) }}">
<i class="fa fa-delicious"></i>&nbsp;Production departments</a><br/>
{% endif %}
