{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}

		<div class="col-lg-12">
		   <div id="map" /></div>
		
		</div>
       
<script>
                       
                    $(document).ready(function(){
		                 var map = new google.maps.Map(document.getElementById('map'), {
		                    center: {
		                        lat:  {{ object.positionlat}},
		                        lng:  {{ object.positionlang}}
		                    },
		                     zoom: {{ object.positionzoom}},
		                     mapTypeId: google.maps.MapTypeId.HYBRID
		                   
		                 });
	   
	                    var PolygonCoords1 = [
	                          {{ object.polygoninformation}}
	                      ];

	                    // Construct the polygon.
	                    var SetPolygonInfo1 = new google.maps.Polygon({
	                      paths: PolygonCoords1,
	                      strokeColor: '#ffa500',
	                      strokeOpacity: 1,
	                      strokeWeight: 2,
	                      fillColor: '#ffa500',
	                      fillOpacity: 0.4,
	                      zIndex: 99

	                    });
	                   SetPolygonInfo1.setMap(map);



					   var PolygonCoords2 = [
	                          {{ object.productiondepartementFarm.polygoninformation}}
	                      ];

	                    // Construct the polygon.
	                    var SetPolygonInfo2 = new google.maps.Polygon({
	                      paths: PolygonCoords2,
	                      strokeColor: '#000000',
	                      strokeOpacity: 1,
	                      strokeWeight: 3,
	                      fillColor: '#ff0000',
	                      fillOpacity: 0.3
	                    });
	                   SetPolygonInfo2.setMap(map);
	                   $('.col-lg-7').find('th').remove();

				 
					});
</script>
{% endblock %}
