{% if adminisGrented('admin_app_cardlocation_recording_list',object) %}
<a class="btn btn-sm btn-info" style="color: white; background:#33cccc; " href="{{ path('admin_app_cardlocation_recording_list', {'id': object.id }) }}"><i class="fa fa-braille" aria-hidden="true"></i>&nbsp; Recording</a><br/>
{% endif %}
