{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}
 
{% block list_header %}
   <table class="table table-prod-date" style="background: #d9d9d9;">
    <thead>
     
    </thead>
    <tbody>
 
    </tbody>
  </table>
  <br/><br/>
  <script> 
  	  var arrayGlobal ; 
  	   function dateTodateFilter(date){
					var array  = date.split("-");
		    	    var dateFilter = array[2]+"."+array[1]+"."+array[0];
		    	    return dateFilter;
	    }
  $(document).ready(function(){
  $(".sonata-bc").append(`<div class="backloadingRecord"><div class="spinner"><div class="cube1"></div><div class="cube2"></div></div></div>`);
	    var pathh = window.location.href;
	    $('.fa-filter').closest('ul').hide();
	    $('.sonata-filters-box').attr('style','display:none !important;');
	
	    if(pathh.indexOf('filter') == -1)
	    {
		    $('.sonata-ba-list').hide();
			$('.box-footer').hide();
			setInterval(function(){  $('.backloadingRecord').hide(); }, 5000);
	    }
	   
	    $.ajax({
	    	type:"GET",
	    	url:"/admin/app/recording/recording_show_others",
	    	dataType:"json",
	    	success: function(res)
	    	{
	    			  
	    		      arrayGlobal = res.recordingProd;
	    		      

			    	  var ProdTRS = "<tr><th>Date/Prod</th>";
			    	  for(var i=0;i<res.productionDeparetement.length;i++)
			    	  {
			    	  	ProdTRS +="<th>"+res.productionDeparetement[i].name+"</th>";
			    	  }
			    	  ProdTRS +="</tr>";

			    	  $('.table-prod-date thead').append(ProdTRS);


 
			      	  var rows = "";
			      	  for(var j=0;j<res.RecordingDate.length;j++)
			    	  {
			   			
			    	  	 rows+=  "<tr><td>"+res.RecordingDate[j].scoutingDate.date.substr(0,10)+"</td>";
				    	  for(var i=0;i<res.productionDeparetement.length;i++)
				    	  {



		    	  			 rows +="<td class='tdProdDate' data-id='"+res.productionDeparetement[i].id+"' data-date='"+res.RecordingDate[j].scoutingDate.date.substr(0,10)+"'>---</td>";
				    	  }
				    	  rows +="</tr>";
				      }

			    	$('.table-prod-date tbody').append(rows);


	    	}

	    });
		
  });
$(window).load(function() {
         	    
					setInterval(function(){  

							for(var k=0;k<arrayGlobal.length;k++)
								{
									$('.tdProdDate').each(function(){
										     var dateC = $(this).attr('data-date');
										     var currentD = arrayGlobal[k].scoutingDate.date.substr(0,10);
				    						if($(this).attr('data-id') == arrayGlobal[k].id && dateC == currentD)
				    						{
				    							$(this).html('<a href="{{ app.request.schemeAndHttpHost ~ app.request.requestUri }}?&filter%5BrecordingCardlocation__cardlocationProductiondepartement%5D%5Bvalue%5D='+ $(this).attr('data-id')+'&filter%5BscoutingDate%5D%5Bvalue%5D%5Bstart%5D='+dateTodateFilter(dateC)+'&filter%5BscoutingDate%5D%5Bvalue%5D%5Bend%5D='+dateTodateFilter(dateC)+'">DATA</a>');
				    						}
									  });
								}

						      $('.backloadingRecord').hide(); 
					}, 5000);
		    			     
  });
  
 
  </script>
{% endblock %}