
<a class="btn btn-sm btn-info" style="color: white; background:#004d99; " href="{{ path('admin_app_recording_recordingbugs_list', {'id': object.id }) }}"><i class="fa fa-tripadvisor" aria-hidden="true"></i>&nbsp; Bugs/Amount</a><br/>
