body,html{
        font-family: 'Ubuntu', sans-serif;
}
.sidebar-menu .treeview-menu>li{
padding-left: 25px;
}
.btn-group-sm>.btn, .btn-sm {
    padding: 5px 5px;
    font-size: 10px;
    line-height: 0.5;
    border-radius: 3px;
}
.border-row-recording{
  background-color: #ccf5ff !important;

}
@media print {
 .notPrint {
      display: none !important;
  }
  
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.Profile-Logout a{
background: #0d1d1e !important;
color: white !important;
}
.Profile-Logout a:hover{
background: white !important;
color:#0d1d1e !important; 
}


#Dswitch{
        margin-top: 13px;
    margin-right: 40px;
}
/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #54ae32 ;
}

input:focus + .slider {
  box-shadow: 0 0 1px #54ae32 ;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switchCC  {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 34px;
}
.switchCC input {display:none;}


.sliderCC {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.sliderCC:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 100px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .sliderCC {
  background-color: #1c383a ;
  color: white;
}

input:focus + .sliderCC {
  box-shadow: 0 0 1px #1c383a ;
}

input:checked + .sliderCC:before {
  -webkit-transform: translateX(92px);
  -ms-transform: translateX(92px);
  transform: translateX(92px);
}

/* Rounded sliderCCs */
.sliderCC.round {
  border-radius: 34px;
}

.sliderCC.round:before {
  border-radius: 50%;
}















.skin-black .form-group {
     margin-bottom: 0px !important; 
}
.row.row-map-add{
margin: 10px;
}
.btngrouShare{
    line-height: 3.5;
    border: 0px;
}
.logo img {

    max-width: 112px !important;
    }
.user-menu{
    padding: 14px !important;
}
.skin-black .main-header .navbar{
        -webkit-box-shadow: 0 8px 6px -6px #999 !important;
    -moz-box-shadow: 0 8px 6px -6px #999 !important;
    box-shadow: 0 8px 6px -6px #999 !important;
}

#image-path{
    width: 300px;
    height: 200px;
}
#wrapperErrorMain {
      min-height: 100%;
     min-width: 100%;
    padding: 10%;
  
    position: fixed;
    overflow: hidden;
    background: #f2f2f2;
    text-align: center; 
        color: #1c383a;}
  #wrapperErrorMain .logo {
    padding: 10px; }
    
  #wrapperErrorMain .container {
    /*padding-left: 11%;*/ }
    #wrapperErrorMain .container h1 {
     
      padding-bottom: 20px;
      font-weight: bold; }
    #wrapperErrorMain .container h2 {
     
      padding-bottom: 10px; 
    }
    #wrapperErrorMain .container .btn{
      background: #2681b8;
      color: white;
      border-radius: 0;
      width: 30%;
      height: 40px;
      line-height: 2; }
      #wrapperErrorMain .container a:hover {
        color: #2681b8;
        border: 1px solid #2681b8;
        background: white;}

.well {
    z-index: 11 !important;
    bottom: -13px !important;
    right: 10px !important;
     position: fixed !important;
     background: rgba(0,0,0,0.6) !important;
     width: 237px  !important;
     text-align: center
     border-radius: 10px !important;
     margin-bottom: 16px !important;

}
 .sonata-ba-list-field-text{
    padding-top:1px !important;
    padding-bottom: 1px !important;
}
.backloadingRecord{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    top: 0;
    left: 0;
    z-index: 9999999;
}
.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  top: 30%;

}

.cube1, .cube2 {
  background-color: white;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
  25% { 
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% { 
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% { 
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% { 
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% { 
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #1c383a; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    top: 146px;
    left: 44%;
    position: absolute;
    animation: spin 2s linear infinite;
}
.loaderRec {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #1c383a; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    top: 146px;
    left: 44%;
    position: absolute;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



.box-header {
    background-color: #1c383a;
    color: white;

}
.box-body {
    /* border-top-left-radius: 0; */
    /* border-top-right-radius: 0; */
       border-bottom-right-radius: 0px !important; 
       border-bottom-left-radius: 0px !important; 
    }

.btn-primary {
    background: #103183;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.hover {
    background: rgba(16, 49, 131, 0.90);
}


/*### Admin Login Page ############################################*/

.login-page,
.register-page {
    background: #ffffff;
}

.login-box-body,
.register-box-body {
    border: 1px solid #d2d6de;
}


/*###################################################################*/

a,
.btn-link {
    color: #004D92;
    /* #103183;*/
}


/* a:hover,
a:active,
a:focus {
    color: #d52826;
} */

.btn-success {
    background-color: #54AE32;
    border-color: #2b9c00;
}

.btn-success:hover,
.btn-success:active,
.btn-success.hover {
    background-color: #2da200;
}

.btn-success.active.focus,
.btn-success.active:focus,
.btn-success.active:hover,
.btn-success:active.focus,
.btn-success:active:focus,
.btn-success:active:hover,
.open>.dropdown-toggle.btn-success.focus,
.open>.dropdown-toggle.btn-success:focus,
.open>.dropdown-toggle.btn-success:hover {
    background-color: #2da200;
}

.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open>.dropdown-toggle.btn-primary.focus,
.open>.dropdown-toggle.btn-primary:focus,
.open>.dropdown-toggle.btn-primary:hover {
    background-color: rgba(16, 49, 131, 0.90);
}

.content-wrapper,
.right-side {
    background-color: #f7f7f7;
}

.skin-black .main-sidebar {
    background-color: #1c383a;
}

.main-header .logo {
     height: 60px;
     font-weight: bold;
    -webkit-box-shadow: 0 8px 6px -6px #999 !important;
    -moz-box-shadow: 0 8px 6px -6px #999 !important;
     box-shadow: 0 8px 6px -6px #999 !important;
}

.logo img {
    padding: 5px 0 4px 0;
  
}

.logo img + span {
    color: #1c383a;
}

.navbar-top-links li a,
.navbar-top-links li span {
    padding: 18px;
    min-height: 60px;
}

.main-header .sidebar-toggle {
    padding: 20px;
}

.main-header>.navbar {
    min-height: 60px;
}

.main-sidebar,
.left-side {
    padding-top: 60px;
}

.skin-black .sidebar-form input[type="text"],
.skin-black .sidebar-form .btn {
    background-color: #0d1d1e;
}


.skin-black .sidebar-form {
    border: 1px solid #31489a;
}

.skin-black .sidebar-menu>li:hover>a,
.skin-black .sidebar-menu>li.active>a {
    background: #0d1d1e;
}

.skin-black .sidebar-menu>li>.treeview-menu {
    background: #0d1d1e
}

.skin-black .treeview-menu>li>a {
    color: #a7c8d6;
}

.box.box-primary {
    /*border-top-color: #004D92;*/
    border-top-color: #0d1d1e;
}

.bg-aqua,
.callout.callout-info,
.alert-info,
.label-info,
.modal-info .modal-body {
    background-color: #cccccc !important;
}

.box {
    border-top: 3px solid #66ff66;
    box-shadow: 0 1px 4px 0 black;
     border-radius: 6px; 
}

.bg-green,
.callout.callout-success,
.alert-success,
.label-success,
.modal-success .modal-body {
    background-color: #54ae32 !important;
}

.select2-drop-auto-width,
.select2-drop.select2-drop-above.select2-drop-active {
    border-top-color: #004d92;
}

.select2-drop-active {
    border-color: #004d92;
}

.select2-container-active .select2-choice,
.select2-container-multi.select2-container-active .select2-choices {
    border-color: #004d92;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
    border: 1px solid #004d92;
}

.nav-tabs-custom>.nav-tabs>li.active {
    border-top-color: #0d1d1e;
}

.bg-light-blue,
.label-primary,
.modal-primary .modal-body {
    background-color: #1c383a !important;
}
@media (max-width: 768px){
  body.fixed .main-sidebar {
        top:56px;
  }
  .skin-black .main-header>.logo {
    background-color: white;
    color: #fff;
    border-bottom: 1px solid black;
    border-right: none;
}
}

@media (min-width: 768px) {
 
    .navbar-nav>li>a {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .skin-black .main-header>.logo{
        background: white !important;
    }
}

.bdp-input {
    display: inline-block;
}

.show_duration_to_count[disabled="disabled"] ~ .popover{
    display: none !important;
}

.icon-arrow-left,
.icon-arrow-right {
    display: inline-block;
    font: 14px/1 "FontAwesomeFontAwesome";
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
    content: "\f100";
}

.icon-arrow-right:before {
    content: "\f101";
}

// removes the up / down arrows from a numeric input field
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.ui-dialog .ui-dialog-title {
    border: none;
    background-color: rgb(210, 214, 222);
    color: #000002;
    display: block;
    padding: 10px 15px;
    position: relative;
    width: 100%;
    margin: 0;
}

.ui-dialog.ui-widget-content {
    padding: 0;
    font-family: "Source Sans Pro", sans-serif;
}

.ui-dialog.ui-widget-content {
    border-top: 3px solid #0d1d1e;
}

.ui-dialog .ui-dialog-titlebar {
    border: none;
    padding: 0;
}

.ui-dialog .ui-dialog-titlebar-close {
    background: none;
    border: none;
}

.table-fixed-head-thead {
    background: white;
    left: auto !important;
    z-index: 99;
}

.sonata-ba-list-field-actions {
    min-width: 8%;
}

.sonata-ba-list tbody td:last-child {
    min-width: 15%;
    width: 15%;
}


/*
************************************************** Page Peremetre
*/

#people {
    width: 100%;
    height: 100%;
}

.get-org-chart .get-up,
.get-mediumdarkblue.get-org-chart .get-oc-tb {
    display: none;
}

#peopletext {
    text-anchor: middle;
    pointer-events: auto;
    /* Cancel the svg’s pointer-events */
    fill: currentColor;
}


/*Now the CSS*/

* {
    margin: 0;
    padding: 0;
}

.tree {
    margin: auto;
}
.tree .col-md-6 {
    /* border: 1px solid #aaa;
    border-radius: 5px;
    margin: 5px;
    padding: 15px 0 0;
    background: #999; 
    width: 48%;*/
}
.tree .entity {
    border: 3px solid #fff;
    border-radius: 5px;
    padding: 10px;
    background: #f1f1f1;
    box-shadow: 4px 4px 9px -4px rgba(0,0,0,0.4);
}

.tree .entity.first{
    padding: 20px 0;
    max-width: 40%;
    margin: 0 auto 20px;
}

.tree ul {
    padding: 20px 0;
    position: relative;
    text-align: center;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    font-size: 0;
    margin-bottom: 20px;
}

.tree > ul > li {
    display: block;
}
.tree li {
    /* float: left;*/
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    display: inline-block;
    margin-bottom: 5px;
}


/*We will use ::before and ::after to draw the connectors*/

.tree li::before,
.tree li::after {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 1px solid #ccc;
    width: 50%;
    height: 20px;
}

.tree li::after {
    right: auto;
    left: 50%;
    border-left: 1px solid #ccc;
}


/*We need to remove left-right connectors from elements without 
any siblings*/

.tree li:only-child::after,
.tree li:only-child::before {
    display: none;
}


/*Remove space from the top of single children*/

.tree li:only-child {
    padding-top: 0;
}


/*Remove left connector from first child and 
right connector from last child*/

.tree li:first-child::before,
.tree li:last-child::after {
    border: 0 none;
}


/*Adding back the vertical connector to the last nodes*/

.tree li:last-child::before {
    border-right: 1px solid #ccc;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
}

.tree li:first-child::after {
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}
/*Time to add downward connectors from parents*/

.tree ul ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 1px solid #ccc;
    width: 0;
    height: 20px;
}

.tree li span {
    background: #fff;
    border: 1px solid #ccc;
    padding: 3px 15px;
    text-decoration: none;
    color: #d82825;
    font-size: 13px;
    display: inline-block;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    font-weight: bold;
}
/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li span:hover,
.tree li span:hover+ul li span {
    background: #c8e4f8;
    color: #000;
    border-color: #94a0b4;
}
/*Connector styles on hover*/
.tree li span:hover+ul li::after,
.tree li span:hover+ul li::before,
.tree li span:hover+ul::before,
.tree li span:hover+ul ul::before {
    border-color: #94a0b4;
}



.alert + .alert {
    margin-top: -15px;
}

#import_importFile + ul li {  
    color: red;
    font-size: 15px;
}

#map{
    height: 500px;
    width: 100%;
}
      #myImg ,
        .imgModal {
            border-radius: 8px;
            cursor: pointer;
            transition: 0.3s;
            border: 1px solid #ddd;

        }
        #img01
        {
            max-width:700px;
            max-height: 400px;
        }

        #myImg:hover {opacity: 0.7 ;}

        /* The Modal (background) */
        .modalMy {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 9999; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
        }

        /* Modal Content (image) */
        .modal-contentMy {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 700px;
        }

        /* Caption of Modal Image */
        #caption {
            margin: auto;
            display: block;
            width: 30%;
            max-width: 700px;
            text-align: center;
            color: #ccc;
            padding: 10px 0;
            height: 150px;
        }

        /* Add Animation */
        .modal-contentMy, #caption {
            -webkit-animation-name: zoom;
            -webkit-animation-duration: 0.6s;
            animation-name: zoom;
            animation-duration: 0.6s;
        }

        @-webkit-keyframes zoom {
            from {-webkit-transform:scale(0)}
            to {-webkit-transform:scale(1)}
        }

        @keyframes zoom {
            from {transform:scale(0)}
            to {transform:scale(1)}
        }

        /* The Close Button */
        .closeE {
            position: absolute;
            top: 15px;
            right: 35px;
            color: #f1f1f1;
            font-size: 40px;
            font-weight: bold;
            transition: 0.3s;
        }

        .closeE:hover,
        .closeE:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
        }

        /* 100% Image Width on Smaller Screens */
        @media only screen and (max-width: 700px){
            .modal-content {
                width: 100%;
            }
        }