{% extends 'Reporting/layout.html.twig' %}

{% block title %}Bugs-Tracking | Home!{% endblock %}

 {% block home_active %}active{% endblock %}
 {% block content %}
      
       <!--<div class="row row-filter">
            <div class="col-lg-1" style="padding: 7px;">
                <span class="text-info">Filtrer&nbsp;<i class="fa fa-filter" aria-hidden="true"></i><span>
            </div>
             <div class='col-md-4'>
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker1' style="color:black;">
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>

            <div class='col-md-4'>
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker2' style="color:black;">
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
             <div class="col-lg-1">
                <a href="#" class="btn btn-info">Filter</a>

            </div>
            <div class="col-lg-1 text-right">
                <a href="#" class="btn btn-default">Share&nbsp;<i class="fa fa-share-alt" aria-hidden="true"></i></a>

            </div>
        </div>-->
          <div class="backloadingRecord" style="display:none;">
                <div class="spinner"><div class="cube1"></div><div class="cube2"></div></div>
              </div>
        <div class="container-fluid main-body">
            {% if is_granted('ROLE_GLOBAL_ADMIN') or is_granted('ROLE_TECHNICIEN') %}
                  <div class="row row-farms">
                     <div class='col-md-4 col-md-push-8'>
                      <div class="form-group">
                        <label>Farms:</label>
                        <select class="select2-allfarms-home" name="allFarms-value" style="width:100%;">
                          <option value="0">Farms</option>
                           {% for allfarm in farms %}
                          <option value="{{ allfarm.id }}" >{{ allfarm.farmName }}</option>
                          {% endfor %}
                        </select>
                      </div>
                   </div>
                </div>
                {% endif %}
            <div class="container">
                <h2>Hot spots</h2>
                <div class="table-responsive">
                 <table class="table table-striped table-hover table-bordered" id="table-hotSpot">
                 <thead>
                  <tr>
                    <th>Production Departement</th>
                    <th>Crop Block</th>
                    <th>Crop</th>
                    <th>Bug</th>
                    <th>Average Value</th>
                    <th>Recording date</th>
                  </tr>
                </thead>
                <tbody>
                  {% if not is_granted('ROLE_TECHNICIEN') and not is_granted('ROLE_GLOBAL_ADMIN')  %}
                     {% if hotSpots|length == 0 %}
                                  <tr><td colspan="6"><center>No hotspot currently,you have to make the records ! </center></tr>
                     {% endif %}

                   {% else %}
                         <tr><td colspan="6"><center>Chose a farm</center></tr>  
                  {% endif %}
                {% for hotSpot in hotSpots %}
                  <tr class='clickable-row' data-href="{{ path('app_reporting_details',{'Reporting' : hotSpot.id }) }}" style="{% if(hotSpot.keyIntervalDanger == 3) %} color:#ff9900;{% else %}  color:red; {% endif %}">
                    <td>{{ hotSpot.prodDeptName }}</td>
                    <td>{{ hotSpot.cropBlockName }}</td>
                    <td>{{ hotSpot.cropName }}</td>
                    <td>{{ hotSpot.bugName }}</td>
                    <td>{{ hotSpot.moyenneamount }}</td>
                    <td>{{ hotSpot.dateScouting|date('d-m-Y') }}</td>
                  </tr>
                 {% endfor %}
                </tbody>
              </table>
          </div>
        </div>
        <div class="container">
             <h2>Variations</h2>
                <div class="table-responsive">
                 <table class="table table-striped table-hover table-bordered" id="table-variations">
                 <thead>
                  <tr>
                    <th>Production Departement</th>
                    <th>Crop Block</th>
                    <th>Crop</th>
                    <th>Bug</th>
                    <th>Change (%)</th>
                    <th>Recording date</th>
                  </tr>
                </thead>
                <tbody>
                 {% if not is_granted('ROLE_TECHNICIEN') and not is_granted('ROLE_GLOBAL_ADMIN')  %}
                       {% if variations|length == 0  %}
                                  <tr><td colspan="6"><center>No Variation currently,you have to make the record twice to compare !</center></tr>
                     
                      {% endif %}

                    {% else %}       
                         <tr><td colspan="6"><center>Chose a farm</center></tr>
                  
                 {% endif %}

                  {% for variation in variations %}
                  <tr class='clickable-row' data-href="{{ path('app_reporting_details',{'Reporting' : variation.id }) }}" style="{% if(variation.variation < 0) %} color:#00ff00;{% else %}  color:red; {% endif %}">
                    <td>{{ variation.prodDeptName }}  </td>
                    <td>{{ variation.cropBlockName }} </td>
                    <td>{{ variation.cropName }}      </td>
                    <td>{{ variation.bugName }}       </td>
                    <td>{{ variation.variation}}%     </td>   
                    <td>{{ variation.dateScouting|date('d-m-Y')}}</td>         
                  </tr>
                 {% endfor %}
                </tbody>
              </table>
            </div>
         </div>
      </div>
       
{% endblock %} 
 {% block sps_javascripts %}
          
<script type="text/javascript">

    jQuery(document).ready(function($) {
       $(document).on("click","tr.clickable-row",function() {
           window.location = $(this).data("href");
        });

    /*#########################################  start  generale home  ###############################################################################*/ 
     $('.select2-allfarms-home').select2();
             $(document).on('change','.select2-allfarms-home',function(){

                 $('.backloadingRecord').show();
                  FarmId =parseInt($(this).val());
                  DataIdFarm = "farmId="+FarmId;
                  $.ajax({
                     type : "GET",
                     url : "/reporting/details/Detailsadmin/",
                     data : DataIdFarm,
                     dataType : "json",
                     success : function(data){
                   
                      if(data.hotSpots.length)
                      {
                        var htmlHotSpots = "";
                        for(var i =0;i<data.hotSpots.length;i++)
                        {    
                          var url = '{{ path('app_reporting_details',{'Reporting' : 'hotSpotsId' }) }}'; 
                              url = url.replace("hotSpotsId", data.hotSpots[i].id);
                              var color ="";
                              if(data.hotSpots[i].keyIntervalDanger == 3) 
                                 color="#ff9900";
                               else{
                                  color="red";
                               }  
                            
                          htmlHotSpots +='<tr class="clickable-row" data-href="'+url+'" style="color:'+color+'">'+
                            '<td>'+ data.hotSpots[i].prodDeptName +'</td>'+
                            '<td>'+ data.hotSpots[i].cropBlockName +'</td>'+
                            '<td>'+  data.hotSpots[i].cropName +'</td>'+
                            '<td>'+  data.hotSpots[i].bugName +'</td>'+
                            '<td>'+  data.hotSpots[i].moyenneamount +'</td>'+
                             '<td>'+ data.hotSpots[i].dateScouting.date.substr(0,10)+'</td></tr>';
                         }
                         $('#table-hotSpot tbody').find('tr').remove();
                         $('#table-hotSpot tbody').append(htmlHotSpots);

                      }else{
                           $('#table-hotSpot tbody').find('tr').remove();
                           $('#table-hotSpot tbody').append('<tr><td colspan="6"><center>No hotSpots currently</center></tr>');

                      }
                       if(data.variations.length)
                      {
                        var htmlVariations = "";
                        for(var i =0;i<data.variations.length;i++)
                        {    
                          var url = '{{ path('app_reporting_details',{'Reporting' : 'variationId' }) }}'; 
                              url = url.replace("variationId", data.variations[i].id);
                              var color ="";
                              if(data.variations[i].variation < 0) 
                                 color="#00ff00";
                               else{
                                  color="red";
                               }  
                              
                          htmlVariations +='<tr class="clickable-row" data-href="'+url+'" style="color:'+color+'">'+
                              '<td>'+ data.variations[i].prodDeptName  +'</td>'+
                              '<td>'+ data.variations[i].cropBlockName + '</td>'+
                              '<td>'+ data.variations[i].cropName  +  '</td>'+
                              '<td>'+ data.variations[i].bugName +'</td>'+
                              '<td>'+ data.variations[i].variation   +'</td>'+
                              '<td>'+ data.variations[i].dateScouting.date.substr(0,10)  +'</td></tr>';
                         }
                         $('#table-variations tbody').find('tr').remove();
                         $('#table-variations tbody').append(htmlVariations);

                      }else{
                           $('#table-variations tbody').find('tr').remove();
                           $('#table-variations tbody').append('<tr><td colspan="6"><center>No Variations currently</center></tr>');

                       }
                   
                         $('.backloadingRecord').hide();

                     },
                     error: function(err)
                     {
                      $('.backloadingRecord').hide();
                       console.log(err);
                     }
                  });

                

         });
    /*#########################################  end  generale home  ###############################################################################*/ 
       
    });

   
</script>
{% endblock %}


