<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
         <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
         <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
         <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
         <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" />
         <link rel="stylesheet" href="{{ asset('css/main.css') }}">
         <link rel="stylesheet" href="{{ asset('css/menu.css') }}">
         <link rel="stylesheet" href="{{ asset('css/font-awesome.css') }}" />
         <link rel="stylesheet" href="{{ asset('css/bootstrap-datetimepicker.min.css') }}" />
         <link rel="stylesheet" href="{{ asset('css/sweetalert.css') }}" />
         <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
         <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">

    </head>
    <body>
      <div class="container-fluid div-main">
                {% block header %}
                    <div class="row top-row">
                        <div class="dropdown list-config">
                         <a class="btn btn-default" href="{{path('fos_user_security_logout')}}">{{ app.user.firstname }} &nbsp; &nbsp; <i class="fa fa-sign-out"></i></a>
                        </div>
                         <div class="main-menu">
                                  <ul class="list-unstyled ">
                                      <li class="{% block home_active %}{% endblock %}"><a href="{{ path('app_home_page')}}"><i class="fa fa-home fa-2x"></i></a></li>
                                        {% if not is_granted('ROLE_TECHNICIEN') %}
                                          <li class="{% block dashboard_active %}{% endblock %}"><a href="{{ path('sonata_admin_dashboard') }} " ><i class="fa fa-dashboard fa-2x"></i></a></li>
                                        {% endif %}
                                      <li class="{% block reporting_active %}{% endblock %}"><a href="{{ path('app_reporting')}}"><i class="fa fa-bar-chart fa-2x"></i></a></li>       
                                  </ul>
                         </div>
                      
                    </div>
                {% endblock %}


                 {% block content %}

                 {% endblock %}

         

      </div>

        {% block javascripts %}
            <script src="{{ asset('js/jquery.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('js/moment.js') }}"></script>
            <script src="{{ asset('js/bootstrap-datetimepicker.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap-datetimepicker.min.js') }}"></script>
            <script src="{{ asset('js/sweetalert.min.js') }}"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
        {% block sps_javascripts %}{% endblock %}
        {% endblock %}

        
    </body>
</html>