{% extends 'Reporting/layout.html.twig' %}
{% block title %}Bugs-Tracking | Reporting!{% endblock %}


 {% block reporting_active %}active{% endblock %}

{% block content %}

      {% for Messagewarning in app.session.flashbag.get('warning')%}
                <div class="alert alert-warning alert-dismissable text-center" style="display:none; margin:10px;">
                  <button type="button" class="close" aria-hidden="true">&times;</button>
                  <p><i class="fa fa-hand-paper-o" aria-hidden="true"></i>&nbsp;{{Messagewarning}}</p>
                 </div>
        {% endfor %}


              <div class="backloadingRecord" style="display:none;">
                <div class="spinner"><div class="cube1"></div><div class="cube2"></div></div>
              </div>
              {% if is_granted('ROLE_GLOBAL_ADMIN') or is_granted('ROLE_TECHNICIEN')%}
                  <div class="row row-farms">
                     <div class='col-md-4 col-md-push-8'>
                      <div class="form-group">
                        <label>Fram:</label>
                        <select class="select2-allFarms" name="allFarms-value" style="width:100%;">
                          <option value="0">Farms</option>
                           {% for allfarm in farms %}
                          <option value="{{ allfarm.id }}" {% if ReportDetails|length  > 0 %}{% if ReportDetails.farmId == allfarm.id  %} Selected {% endif %}{% endif %}>{{ allfarm.farmName }}</option>
                          {% endfor %}
                        </select>
                      </div>
                   </div>
                </div>
                {% endif %}
             <div class="row row-filter">
                  <div class="col-md-1" style="padding: 1px;">
                      <span class="text-info">Filtrer&nbsp;<i class="fa fa-filter" aria-hidden="true"></i><span>
                  </div>
                   <div class='col-md-3'>
                      <div class="form-group">
                        <select class="select2-crop" name="crop-value" style="width:100%;">
                          <option value="0">CROP</option>
                           {% for crop in crops %}
                          <option value="{{ crop.id }}" {% if ReportDetails|length  > 0 %}{% if ReportDetails.cropId == crop.id  %} Selected {% endif %}{% endif %}>{{ crop.name }}</option>
                          {% endfor %}
                        </select>
                      </div>
                   </div>
                  <div class='col-md-3'>
                      <div class="form-group">
                        <select  class="select2-bug" name="bug-value" style="width:100%">
                          <option value="0">BUG</option>
                          {% for bug in bugs %}
                          <option value="{{bug.id}}" {% if ReportDetails|length  > 0 %}{% if ReportDetails.bugId == bug.id  %} Selected {% endif %}{% endif %}>{{ bug.name }}</option>
                          {% endfor %}
                        </select>
                      </div>
                  </div>
                   <div class='col-md-3'>
                             <div class="form-group">
                               <select  class="select2-date" name="date-value" style="width:100%">
                                  <option value="0">Date Recording </option>
                                  {% for dateRecord in allDateRecording %}
                                  <option value=" {{dateRecord.dateScouting|date('Y-m-d') }}" {% if ReportDetails|length  > 0 %}{% if ReportDetails.dateScouting|date('Y-m-d') == dateRecord.dateScouting|date('Y-m-d')  %} Selected {% endif %}{% endif %}>{{ dateRecord.dateScouting|date('Y-m-d') }}</option>
                                  {% endfor %}
                                </select>
                            </div>
                   </div>
                   <div class="col-lg-1">
                           <a href="#"  class="btn btn-info btn-go">Go</a>

                          </div>

                  <div class="col-lg-1 text-right">
                      <a href="#" class="btn btn-default">Share&nbsp;<i class="fa fa-share-alt" aria-hidden="true"></i></a>
                  </div>

              </div>


                <div class="main-chart">
                  <div class="col-md-6 col-sm-6  col-xs-12">
                     <div class="main-filter-chart">
                      <h4 class="text-center"><i class="fa fa-area-chart" aria-hidden="true"></i>&nbsp;Danger Interval </h4>
                           <div class="row intervaldanger text-center">

                                <div class="col-lg-3" id="1intervaldanger" style="background: #66ff33 ">
                                </div>
                                <div class="col-lg-3" id="2intervaldanger" style="background: #ffff00; ">
                                </div>
                                <div class="col-lg-3" id="3intervaldanger" style="background: #ff9900; ">
                                 </div>
                                 <div class="col-lg-3" id="4intervaldanger" style="background: #ff0000; ">
                                 </div>
                            </div>
                        </div>
                      <div class="chart-graph">
                          <div id="containerGraph" style=" margin-top:3%;height:500px; background: white;"></div>
                       <!--  <div style="margin:5px;" id="line_top_x"></div> -->
                      </div>
                   </div>
                 </div>
               <div class="main-map ">
                  <div class="col-md-6 col-sm-6  col-xs-12 ">
                      <div id="map" style="height: 70vh;"></div>
                   </div>
              </div>
{% endblock %}

 {% block sps_javascripts %}
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvw5GTN-dwAV7zOWKod5WNyrcygUKMgM8&libraries=drawing,places" ></script>
            <script src="https://code.highcharts.com/highcharts.src.js"></script>
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            <script src="http://code.highcharts.com/modules/exporting.js"></script>
            <script src='https://cdn.jsdelivr.net/lodash/4.17.2/lodash.min.js'></script>
            <script src="{{ asset('js/reporting.js') }}"></script>
   
        
            <script type="text/javascript">
               var FarmId;
               var allFarms =JSON.parse('{{ farms|json_encode|e('js') }}');
              console.log(allFarms);
         
              /* debut var for  click direct in table or owner*/
               {% if farm|length > 0 %}
                var FarmPolygoninformation      =  "{{farm.polygoninformation}}";
                var FarmPositionzoom            =  "{{farm.positionzoom}}";
                var FarmPositionlang            =  "{{farm.positionlang}}";
                var FarmPositionlat             =  "{{farm.positionlat}}";
                    FarmId                      =  "{{farm.id}}";
               {% endif %}

               {% if cardamountpoistion|length > 0 %}
                   var cardamountpoistion =  JSON.parse('{{ cardamountpoistion|json_encode|e('js') }}');
                   console.log(cardamountpoistion);
               {% endif %}

             {% if ReportingsBugCrop|length > 0 %}
                   var ReportingsBugCrop =  JSON.parse('{{ ReportingsBugCrop|json_encode|e('js') }}');
              {% endif %}

              {% if cropblock|length > 0%}
                var CropBlockPolygoninformation  = "{{cropblock.polygoninformation}}";
                var CropBlockCenterOfPolyLat     = "{{cropblock.centerOfPolyLat}}";
                var CropBlockCenterOfPolyLang    = "{{cropblock.centerOfPolyLang}}";
                var CropBlockName                = "{{cropblock.name}}";

                var ReportingMoyenneamount       = "{{ReportDetails.moyenneamount}}";
                var ReportingKeyIntervalDanger   = "{{ReportDetails.keyIntervalDanger}}";
                var ReportingListChekDanger      = JSON.parse('{{ ReportDetails.listChekDanger|json_encode|e('js') }}');
              {% endif %}

              /* end var for endclick direct in table or owner*/
            </script>
{% endblock %}
