<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=utf-8" http-equiv="content-type">
  <meta charset="utf-8">
  <title>BugTracking</title>
  <meta content="Bootply" name="generator">
  
  <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
  <meta content="Simple template with a more complex navbar that includes a search form and dropdown." name="description">
  <link href="{{ asset('website/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{ asset('website/css/owl.carousel.css')}}" rel="stylesheet" type="text/css">

  <link href="https://fonts.google.com/specimen/Saira+Semi+Condensed?selection." rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Saira+Semi+Condensed:500" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Saira+Semi+Condensed:600" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="{{ asset('website/css/style.css')}}" rel="stylesheet">
</head>
<body>
  <header id="header">
    <nav>
      <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
          <div class="navbar-header">
            <a class="navbar-brand" href="#"><img class="logo" src="img/IPSUMVISION_SECONDARY_COLOURED_WHITE-HEART_HORIZONTAL_LOGO.png"></a>
          </div><button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" id="btnone" type="button"><span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav pull-right">
            <li>
              <a href="#">LOGIN</a>
            </li>
            <li>
              <a href="#">SIGN IN</a>
            </li>
            <li>
              <a href="#" class="hidden">FR</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="navbar-header">
         <!--  <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" id="btntow" type="button"><span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button> -->
        </div>
        <div class="collapse navbar-collapse pull-right">
          <ul class="nav navbar-nav">
            <li>
              <a href="#myCarousel">HOME</a>
            </li>
            <li>
              <a href="#ABOUT">ABOUT US</a>
            </li>
            <li>
              <a href="#SERVICES">SERVICES</a>
            </li>
            <li>
              <a href="#PRODUCTS">PRODUCTS</a>
            </li>
            <li>
              <a href="#NEWS">NEWS</a>
            </li>
            <li>
              <a href="#CONTACTUS">CONTACT US</a>
            </li>
          </ul>
        </div>
      </div>
    </nav><!-- Carousel -->
  </header>
  <div class="carousel slide" data-ride="carousel" id="myCarousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li class="active" data-slide-to="0" data-target="#myCarousel"></li>
      <li data-slide-to="1" data-target="#myCarousel"></li>
      <li data-slide-to="2" data-target="#myCarousel"></li>
    </ol><!-- Wrapper for slides -->
    <div class="carousel-inner text" role="listbox">
      <div class="item active">
        <img alt="Image" src="{{ asset('website/img/flower_dark_leaves_114135_3840x2160.jpg') }} ">
        <div class="carousel-caption">
          <div id="grand-text">
            <h3 class="grand-text">Enhancing your performance through better knowledge of your system</h3>
          </div>
          <p class="petit-text"></p>
        </div>
      </div>
      <div class="item">
        <img alt="Image" src="{{ asset('website/img/flower_dark_leaves_114135_3840x2160.jpg')}}">
        <div class="carousel-caption">
          <div id="grand-text">
            <h3 class="grand-text">Progress is latent, it just need to be highlighted</h3>
          </div>
          <p class="petit-text"></p>
        </div>
      </div>
      <div class="item">
        <img alt="Image" src="{{ asset('website/img/flower_dark_leaves_114135_3840x2160.jpg') }}">
        <div class="carousel-caption">
          <div id="grand-text">
            <h3 class="grand-text">Let our back end deal with the complexity and bring what is crucial to the front end</h3>
          </div>
          <p class="petit-text"></p>
        </div>
      </div>
    </div><!-- Left and right controls -->
    <a class="left carousel-control" data-slide="prev" href="#myCarousel" role="button"><span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span> <span class="sr-only">Previous</span></a> <a class="right carousel-control" data-slide="next" href="#myCarousel" role="button"><span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span> <span class="sr-only">Next</span></a>
  </div><!-- Carousel -->
  <section id="ABOUT">
    <div class="container">
      <div class="text-center">
        <h3 class="title owl">ABOUT US</h3>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="col-md-7 col-md-offset-1 section-text ABOUT">
            <h3>FROM FARMING BUSINESS…</h3><br>
            <p><em>•</em> Through 17 years experience in growing business, we have a deep</p>
            <p class="ABOUTUS-text">knowledge and understanding of farming systems.</p>
            <p><em>•</em> Time is a key value in your fast pace business so we focus on crucial</p>
            <p class="ABOUTUS-text">information to bring instant value.</p>
            <p><em>•</em> Being independant from your inputs providers helps us to guaranty a</p>
            <p class="ABOUTUS-text">neutral technical advice.</p>
          </div>
        </div>
      </div><br>
      <div class="row">
        <div class="col-sm-12">
          <div class="col-md-7 col-md-offset-5 section-text ABOUT">
            <h3>…TO COMPUTER FARMING MANAGEMENT</h3><br>
            <p><em>•</em> Help you find adequate balance between perfect corp quality and</p>
            <p class="ABOUTUS-text">rational costs.</p>
            <p><em>•</em> OpenDataSystem to check your data from everywhere or share it</p>
            <p class="ABOUTUS-text">with your technical support.</p>
            <p><em>•</em> Fulfilling the need in a simple and profitable way</p>
          </div>
        </div>
      </div><br>
      <br>
    </div>
  </section><!-- .container -->
  <div class="container" id="SERVICES">
    <div class="text-center">
      <h3 class="title">OUR SERVICES</h3>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="col-md-4">
          <img alt="Image" class="img-responsive" src="{{ asset('website/img/icone/1.png') }}" style="width:35%;margin: auto;margin-bottom: 15px;">
          <p class="text-center"><strong>Hardware</strong></p>
          <p class="sutext">In the field server connected smart I/O displays. Local or remote control of your functions.</p>
        </div>
        <div class="col-md-4">
          <img alt="Image" class="img-responsive" src="{{ asset('website/img/icone/2.png') }}" style="width:35%;margin: auto;margin-bottom: 15px;">
          <p class="text-center"><strong>Software</strong></p>
          <p class="sutext">Invest your time in simple, efficient and profitable tools. Autofill Data System to save your time.</p>
        </div>
        <div class="col-md-4">
          <img alt="Image" class="img-responsive" src="{{ asset('website/img/icone/3.png') }}" style="width:35%;margin: auto;margin-bottom: 15px;">
          <p class="text-center"><strong>Consulting</strong></p>
          <p class="sutext">Cross Data Knowledge to track performance. Help you build your organisation system and reach better results.</p>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="col-md-4 col-md-offset-4">
          <button class="button button3">SEE SOME MORE SERVICES</button>
        </div>
      </div>
    </div>
  </div>
  <div class="bg">
    <div class="container" id="PRODUCTS">
      <div class="text-center">
        <h3 class="title owl">OUR PRODUCTS</h3>
      </div>
      <div class="row">
        <div class="col-sm-12"><img alt="ADVANTAGES" class="pull-left" src="{{ asset('website/img/BUGVISION_SECONDARY_COLOURED_WHITE-HEART_HORIZONTAL_LOGO.png') }}" width="30%"></div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <img alt="ADVANTAGES" id="ADVANTAGES" src="{{ asset('website/img/ADVANTAGES.png') }}" width="100%">
          <p class="text-image">Bug Vision Dashboard</p>
        </div>
        <div class="col-md-6 section-text">
          <h3>FEATURES</h3><br>
          <p><em>•</em> Clear dashboard that summarize</p>
          <p style="margin-left: 70px;"><em>•</em> Hot Spots</p>
          <p style="margin-left: 70px;"><em>•</em> Cloud application (bring it with you and share data)</p>
          <p><em>•</em> Compare pest population evolution with graphs</p>
          <p><em>•</em> Map back layer to locate your counting devices</p>
          <p><em>•</em> Compare pest population evolution with graphs</p>
          <p><em>•</em> Color code to highlight hotspots</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 section-text">
          <h3>ADVANTAGES</h3><br>
          <p><em>•</em> Top quality crops means no lost and best value</p><!-- 
          <p style="margin-left: 70px;">     <em>• </em> Hot Spots </p>
          <p style="margin-left: 70px;">     <em>• </em> Cloud application (bring it with you and share data) </p> -->
          <p><em>•</em> Give value to time spent monitoring in the field</p>
          <p><em>•</em> Use you beneficial control the most efficient way</p>
          <p><em>•</em> Anticipate pest population raise</p>
          <p><em>•</em> Avoid pests plage leading to pesticides use</p>
        </div>
        <div class="col-md-6">
          <img alt="ADVANTAGES" id="ADVANTAGES" src="{{ asset('website/img/FEATURES.png') }}" width="100%">
          <p class="text-image">Bug Vision Reporting</p>
        </div>
      </div><!--       <div class="row">
        <div class="col-sm-12">
          <div id="owl-demo">
            <div class="item">
              <img alt="Owl Image" src="http://via.placeholder.com/450x300">
              <h4>Product 'x' <i aria-hidden="true" class="fa fa-angle-right"></i></h4>
            </div>
            <div class="item">
              <img alt="Owl Image" src="http://via.placeholder.com/450x300">
              <h4>Product 'y' <i aria-hidden="true" class="fa fa-angle-right"></i></h4>
            </div>
            <div class="item">
              <img alt="Owl Image" src="http://via.placeholder.com/450x300">
              <h4>Product 'z' <i aria-hidden="true" class="fa fa-angle-right"></i></h4>
            </div>
            <div class="item">
              <img alt="Owl Image" src="http://via.placeholder.com/450x300">
              <h4>Product 'x,y,z' <i aria-hidden="true" class="fa fa-angle-right"></i></h4>
            </div>
            <div class="item">
              <img alt="Owl Image" src="http://via.placeholder.com/450x300">
              <h4>Product 'x' <i aria-hidden="true" class="fa fa-angle-right"></i></h4>
            </div>
            <div class="item">
              <img alt="Owl Image" src="http://via.placeholder.com/450x300">
              <h4>Product 'y' <i aria-hidden="true" class="fa fa-angle-right"></i></h4>
            </div>
            <div class="item">
              <img alt="Owl Image" src="http://via.placeholder.com/450x300">
              <h4>Product 'z' <i aria-hidden="true" class="fa fa-angle-right"></i></h4>
            </div>
            <div class="item">
              <img alt="Owl Image" src="http://via.placeholder.com/450x300">
              <h4>Product 'x,y,z' <i aria-hidden="true" class="fa fa-angle-right"></i></h4>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
  <div class="container" id="NEWS">
    <div class="text-center">
      <h3 class="title">LATEST NEWS</h3>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="col-md-6">
          <img alt="Image" class="img-responsivee" src="http://via.placeholder.com/900x600" style="width:100%"> <a class="url" href="#">
          <p class="text-left">Beneficial Agent management <i aria-hidden="true" class="fa fa-angle-right"></i></p></a>
          <p class="sutext img">Record of the BA released to track the efficiency of your IPM plan</p>
          <p class="sutext img">Technical prescription based on our experience in similar situations</p>
        </div>
        <div class="col-md-6">
          <img alt="Image" class="img-responsivee" src="http://via.placeholder.com/900x600" style="width:100%"> <a class="url" href="#">
          <p class="text-left">Real time technical network <i aria-hidden="true" class="fa fa-angle-right"></i></p></a>
          <p class="sutext img">Your favourite technician can watch on his profile your results to help you make your decision</p>
          <p class="sutext img">Possible once you agreed to share your data with him.</p>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="col-md-4 col-md-offset-4">
          <button class="button button3">ALL NEWS</button>
        </div>
      </div>
    </div>
  </div>
  <div class="bg2">
    <div class="container" id="CONTACTUS">
      <div class="text-center">
        <h3 class="small">FIND US ON:</h3>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="col-md-4 col-md-offset-4">
            <div class="col-md-1 icone" id="icone">
              <i aria-hidden="true" class="fa fa-twitter"></i>
            </div>
            <div class="col-md-1 icone" id="icone">
              <i aria-hidden="true" class="fa fa-google-plus"></i>
            </div>
            <div class="col-md-1 icone" id="icone">
              <i aria-hidden="true" class="fa fa-linkedin"></i>
            </div>
            <div class="col-md-1 icone" id="icone">
              <i aria-hidden="true" class="fa fa-skype"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="bg">
    <div class="container">
      <div class="text-center">
        <h3 class="small"></h3>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="col-sm-6">
            <div class="col-md-12">
              <img alt="Image" class="img-responsive" src="{{ asset('website/img/IPSUMVISION_SECONDARY_COLOURED_WHITE-HEART_HORIZONTAL_LOGO.png') }}" style="width:50%;margin-bottom: 10px;">
              <p class="texte">Working with you for a greener future leads us to develop and research</p>
            </div>
            <div class="col-md-12">
              <hr class="hr pull-left">
            </div><br>
            <div class="col-md-12 add">
              <h3>IPSUM VISION HEAD OFFICE</h3>
              <p>66 Skyline Drive Dundas, ON L9H3S6 Canada</p>
              <p>(+1) 647 271 2613</p>
              <p class="email">contact@ipsumvision.com</p>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="col-md-12 border">
              <nav class="nav-footer">
                <header id="header">
                  <ul class="nav-navbar-nav-footer list-unstyled">
                    <li>
                      <a href="#myCarousel">HOME</a>
                    </li>
                    <li>
                      <a href="#ABOUTUS">ABOUT US</a>
                    </li>
                    <li>
                      <a href="#SERVICES">SERVICES</a>
                    </li>
                    <li>
                      <a href="#PRODUCTS">PRODUCTS</a>
                    </li>
                    <li>
                      <a href="#NEWS">NEWS</a>
                    </li>
                    <li>
                      <a href="#CONTACTUS">CONTACT US</a>
                    </li>
                  </ul>
                </header>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer><!-- /.container -->
  <script src="js/jquery.min.js" type='text/javascript'>
  </script> 
  <script src="js/owl.carousel.js">
  </script> 
  <script src="js/bootstrap.min.js" type='text/javascript'>
  </script> <!-- JavaScript jQuery code from Bootply.com editor  --> 
  <script type='text/javascript'>

             $(document).ready(function() {
              
               $("#owl-demo").owlCarousel({
              
                   autoPlay: 3000, //Set AutoPlay to 3 seconds
              
                   items : 4,
                   itemsDesktop: [1200, 1], //5 items between 1000px and 901px
                   itemsDesktopSmall: [900, 1], // betweem 900px and 601px
                   itemsTablet: [650, 1], //2 items between 600 and 0;
                       //Pagination
                   pagination : true,
                   paginationNumbers: true,
              
               });
              
             });
  </script> 
  <script type="text/javascript">

        $('#header a[href*="#"]:not([href="#"]), footer a[href*="#"]:not([href="#"])').click(function() {
          if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
            if (target.length) {
              $('html, body').animate({
                scrollTop: target.offset().top - 100
              }, 1000);
              return false
            }
          }
        });
  </script>
</body>
</html>