
.div-main{
	
	background:#d9d9d9;
	min-height: 900px;
	font-family: Ubuntu, sans-serif;
    
    .top-row
    {
	 	height: 100px;
	    background: #1c383a;
    	  -webkit-box-shadow: 0 8px 6px 0px black !important;
	 	   -moz-box-shadow: 0 8px 6px 0px black !important;
	   		  box-shadow: 0 8px 6px 0px black !important;
	   .list-config{
	   	a{
   		   background: transparent;
		    color: white;
		     font-size: 14px;
		    border: 0px;
		    border-bottom: 1px solid white;
		    border-radius: 0px;
	   	}
		position: absolute;
		right: 50px;
		top: 10px;
	   }
	   .main-menu{
	   	position: absolute;
	   	top: 10px;
	   	left: 20px;
		   	ul{
		   		width: 260px;
		   		overflow: hidden;
		   	  li{
		   	  	 float: left;
		   	  	 width: 80px;
		   	  	 -webkit-box-shadow: 0 8px 6px 0px black !important;
	 	  	    -moz-box-shadow: 0 8px 6px 0px black !important;
	   		     box-shadow: 0 8px 6px 0px black !important;
		   	  	 height: 85px;
   				 margin: 3px;
   				 background: white;
   				 border-radius: 4px;
   				 a{
   				 	display: block;
   				    padding: 23px;
   				 	width: 80px;
   				 	font-size: 16px;
   				 	color:#1c383a;
   				 }
   				 &:hover a{
		 		        color:white;
		 		        background:#1c383a;
		 				border: 2px solid white;
		 				 border-radius: 4px;
				 	}

   				 &.active a{
   				 	    color:white;
		 		        background:#1c383a;
		 				border: 2px solid white;
		 				 border-radius: 4px;
		 				
   				 	}
		   	  }
		   	}


	   }


	}
	.row-filter{
			    border-radius: 10px;
				padding:30px;
			    margin: 17px;
		        background: white;
			    -webkit-box-shadow: 0 -2px 10px -3px black !important;
			    -moz-box-shadow:0 -2px 10px -3px black !important;
			    box-shadow: 0 -2px 10px -3px black !important;
			    .select2-selection__rendered {
					  line-height: 35px !important;
					}
					.select2-selection {
					  height: 35px !important;
					}

	}
	.main-filter-chart{
			border-radius: 10px;
	}
	#map{
		border-radius: 10px;

	}
	.containerGraph{
		border-radius: 10px;
	}

	 .row-farms{

				padding:10px;
			    margin: 4px;
			     .select2-selection__rendered {
					  line-height: 40px !important;
					}
					.select2-selection {
					  height: 40px !important;
					}

		        
			   
	}
	.main-body{
	color:black;
	}
	

	.main-map{
		.main-filter-map{
		    background: black;
		    width: 100%;
		    margin: 0px;
		    margin-top: 32px;
		    margin-bottom:32px;
		    padding: 30px;
		    background: white;
		    -webkit-box-shadow: 0 -2px 10px -3px black !important;
		    -moz-box-shadow: 0 -2px 10px -3px black !important;
		    box-shadow: 0 -2px 10px -3px black !important;
		    }
	    #map{
	      margin-top:1%;
	    }
		
	}
	.main-chart{
		.main-filter-chart{
		     background: black;
		    width: 100%;
		    margin: 0px;
		    margin-top: 12px;
		    padding: 30px;
		    background: white;
		    -webkit-box-shadow: 0 -2px 10px -3px black !important;
		    -moz-box-shadow: 0 -2px 10px -3px black !important;
		    box-shadow: 0 -2px 10px -3px black !important;
		}
	}
	 

}

.table-bordered {
    border: 1px solid black;
}
.table{
	background:white;
}
.clickable-row
{
	&:hover{
		cursor:pointer;
	}	
}
.backloadingRecord{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    top: 0;
    left: 0;
    z-index: 9999999;
}
.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  top: 30%;

}

.cube1, .cube2 {
  background-color: white;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
  25% { 
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% { 
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% { 
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% { 
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% { 
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}
.row-farms .select2-selection__rendered {
  line-height: 40px !important;
}

.row-farms .select2-selection {
  height: 40px !important;
}
