<a title ="Add Bug to your farm" href="{{ path('admin_app_bug_add_conf_to_farm', {id: object.id}) }}"  data-remove="{{ path('admin_app_bug_remove_conf_to_farm', {id: object.id}) }}" class="btn btn-sm btn-default btnCheckConfBug btncheckadmin" style="margin:5px;" title="">
      <i class="fa fa-square-o" aria-hidden="true"  style="color:black; font-size:14px;"></i>
</a>
