<a title ="Add Crop to your farm"  href="{{ path('admin_app_crop_add_conf_to_farm', {id: object.id}) }}"  data-remove="{{ path('admin_app_crop_remove_conf_to_farm', {id: object.id}) }}" class="btn btn-sm btn-default btnCheckConfCrop btncheckadmin" style="margin:5px;" title="">
      <i class="fa fa-square-o" aria-hidden="true" style="color:black; font-size:14px;"></i>
</a>
