

{% if admin.isGranted('DELETE', object) and admin.hasRoute('delete') %}
    <a href="{{ admin.generateObjectUrl('delete', object) }}" class="btn btn-sm btn-danger delete_link" style="margin:5px;" title="{{ 'action_delete'|trans({}, 'SonataAdminBundle') }}">
        <i class="fa fa-trash" style="color:white;"></i>
        {#{ 'action_delete'|trans({}, 'SonataAdminBundle') }#}
    </a>
{% endif %}
