{% if admin.isGranted('VIEW', object) and admin.hasRoute('show') %}
    <a href="{{ admin.generateObjectUrl('show', object) }}" class="btn btn-sm btn-info view_link" style="margin:5px;" title="{{ 'action_show'|trans({}, 'SonataAdminBundle') }}">
        <i class="fa fa-search-plus" style="color:white;"></i>
        {#{ 'action_show'|trans({}, 'SonataAdminBundle') }#}
    </a>
{% endif %}

