{% if admin.isGranted('EDIT', object) and admin.hasRoute('edit') %}
    <a href="{{ admin.generateObjectUrl('edit', object) }}" class="btn btn-sm btn-success edit_link" style="margin:5px;" title="{{ 'action_edit'|trans({}, 'SonataAdminBundle') }}">
        <i class="fa fa-pencil" style="color:white;"></i>
        {#{ 'action_edit'|trans({}, 'SonataAdminBundle') }#}
    </a>
{% endif %}
